/* Global Styles */

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Roboto Slab", serif;
}

h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
}

html,
body {
  overflow-x: hidden;
}

main {
  flex: 1;
}
